# Node dependencies
node_modules/

# Expo files
.expo/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Cache, build folders, etc.
dist/
build/
web-build/
*.local

# Secrets (si usas .env)
.env
.env.*
!.env.example